
  
  .create-firstpage{
      margin-top: 30px;
      .step{
          background-color: #F5F5F5;
          width: 1450px;
          height: 135px;
          .el-steps{
              padding-top: 50px;
              .el-step__main{
                  .is-process{
                      color:red;
                  }
              }
              .is-process{
                  
                  .el-step__icon{
                      color: red;
                  }
              }
          }
      }
      .stepform{
          margin-top: 50px;
          width: 1310px;
          .el-input__inner{
              width: 720px;
          }
          .el-textarea{
               height: 150px;
          }
          .cover{
              position: relative;
              float: left;
              top:-600px;
              left:1070px;
              height: 250px;
              width: 230px;
              background-color: #DBDCDE;
              img{
                  width: 231px;
                  height: 190px;
              }
              .el-button--default{
                  margin-left: 10px;
                  color: black;
              }
              .el-button--primary{
                  background-color: black;
                  color: #ffffff;
              }
              button{
               border: 1px solid black;   
              }
          }
      }
      .upload{
          .line{
              width: 1400px;
          }
          margin-top: 20px;
              .title{
                  position: relative;
                  left: 20px;
                  font-size: 20px;
              }
              .createcate{
                  .upul{
                     &::after{
                        display: block;
                        content: "";
                        clear: both;
                    }
                    li{
                        float: left;
                        list-style: none;
                        margin-left: 5px;
                        margin-right: 107px;
                        .el-upload{
                            .el-upload-dragger{
                                height: 300px;
                                width: 625px;
                                .normol{
                                   position: relative;
                                   top: 30px;
                                   left: 40px;
                                }
                                .shuzi{
                                   position: relative;
                                   top: 35px;
                                   left: 50px;
                                }
                            }
                        }
                    }
                  }
                  .el-upload-list{
                      height: 130px;
                      width: 625px;
                      li{
                          width: 125px;
                          margin: 0;
                      }
                  }
                  margin-left: 20px;
                  img{
                      display: inline;
                      position: relative;
                      margin-right: 100px;
                      cursor: pointer;
                  }    
              }
              .upbutton{
                  margin-left: 5px;
                  .el-button{
                      width: 625px;
                      height: 90px;
                      font-size: 20px;
                  }
                  .hasup{
                      margin-right: 100px;
                  }
                  
              }
      }
      .confirmuse{
          .xieyiBox{
              margin-left: 130px;
          }
      }
      .sucessfully{}
  }