@import "./topbar.scss";
.yy-header{
    .yy-topbar{
        padding-left: 325px;
        width: 1300px;
    }
    .line{
        position: relative;
        top: -20px;
        width: 1920px;
    }
    

}